.blurred-background-container {
    position: relative;
    padding: 60px 0;
    color: white;
    text-align: center;
    overflow: hidden; /* Ensures the background doesn't overflow */
  }
  
  .background-image-mains {
    background-image: url('https://www.iitbhu.ac.in/contents/iitbhu/img/slider/iit_bhu_slider_03.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .content {
    position: relative;
    z-index: 1; /* Keeps content above the blurred background */
  }
  
  .container img.rounded-circle {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #bb590e;
  }
  
  .container h1 {
    color: white;
    text-shadow: 1px 1px 0px black;
  }
  
  .container .description {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    text-shadow: 1px 1px 0px black;
  }
  .info-item
  {
    font-family: 'Kotta One', serif;
  }
  .info-item .btn:hover,
  .info-item .btn:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-3px);
    transition: all 0.3s ease;
    
  }
  
  .info-item .collapse {
    transition: all 0.3s ease;
    font-family: 'Kotta One', serif;
  }
  
  @media (max-width: 991.98px) {
    .info-item {
      margin-bottom: 1rem;
    }
  }
  